.center-align {
    text-align: center;   
}
a:visited, a:link {
    color: white;
    text-decoration: none;
}

.btn {
    width: 100%;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.margin-auto {
    margin: auto;
}